body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.home-content, .bus-list, .reservation-form, .login-form, .contact-form {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.home-content h2, .bus-list h2, .reservation-form h2, .login-form h2, .contact-form h2 {
    margin-bottom: 20px;
}

.home-content p {
    margin-bottom: 20px;
}

.home-content .cta-button, .bus-list .cta-button, .reservation-form button, .login-form button, .contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.bus-image {
    width: 100%;  /* Make the image responsive */
    max-width: 400px;  /* Set a maximum width */
    height: auto;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

